fastapi==0.115.10
pydantic==2.10.6
uvicorn==0.34.0
SQLAlchemy[asyncio]==2.0.41
asyncpg==0.29.0
dotenv
inflect
aio_pika
celery
python-jose==3.4.0
alembic
httpx
httpx_aws_auth
python-multipart
redis
aiofiles
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.3
seaborn==0.13.2
reportlab==4.1.0
python-multipart==0.0.9
python-dateutil==2.9.0.post0
thefuzz